a:link {color:#ba1f1f;}
a:visited {color:#ba1f1f;}
a:hover {color:#ba1f1f;}
a:active {color:#ba1f1f;}
.Wp-Body-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Verdana", sans-serif;
}