#q{
  font-size: 9vh;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding-top: 30vh;
  margin: auto;
}

#a{
  margin-top: 2vh;
  font-family: 'Varela Round', sans-serif;
  width:100%;
  height: 7vh;
  text-align: center;
  font-size: 5vh;
  float: none;
  color: rgb(190,190,190);
  border-width: medium;
}

#s{
  visibility: hidden;
}

#d{
    border-width: medium;
    font-size: 2vh;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    width: 48%;
}
