#t{
  font-size: 20vh;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  padding-top: 30vh;
  margin: auto;
}

#m{
  font-size: 5vh;
  font-family: 'Chakra Petch', sans-serif;
  color: rgb(186, 186, 186);
  text-align: center;
  margin: auto;
}
